<div class="page-header">
  <h3>Cuisine #<%= @cuisine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @cuisine.name %></dd>

      <dt>Dishes</dt>
      <dd><ul class ="list-group">
         <% @cuisine.dishes.each do |dish| %>
        <li class="list-group-item">
          <%= dish.name %>
        </li>
        <% end %>
        <form action="/create_dish" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>
        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @dish.name %>">
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>
        <%=select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @dish.cuisine_id), :class => "form-control") %>

      </div>

      <button class="btn btn-success">
        Create Dish
      </button>
      or
      <a href="/dishes">Cancel</a>
    </form>


        </ul>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cuisines" class="btn btn-primary">
        Back
      </a>
      <a href="/cuisines/<%= @cuisine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cuisine/<%= @cuisine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
